@import url('https://fonts.cdnfonts.com/css/devil-breeze');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');



/*font*/
.glitch-text {
    color: #fff;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 
      0.05em 0 0 rgba(255,0,0,.75),
      -0.025em -0.05em 0 rgba(0,255,0,.75),
      0.025em 0.05em 0 rgba(0,0,255,.75);
    animation: glitch 500ms infinite;
  }

  @keyframes glitch {
    0% {
      text-shadow: 
        0.05em 0 0 rgba(255,0,0,.75),
        -0.05em -0.025em 0 rgba(0,255,0,.75),
        0.025em 0.05em 0 rgba(0,0,255,.75);
    }
    14% {
      text-shadow: 
        0.05em 0 0 rgba(255,0,0,.75),
        -0.05em -0.025em 0 rgba(0,255,0,.75),
        0.025em 0.05em 0 rgba(0,0,255,.75);
    }
    15% {
      text-shadow: 
        -0.05em -0.025em 0 rgba(255,0,0,.75),
        0.025em 0.025em 0 rgba(0,255,0,.75),
        -0.05em -0.05em 0 rgba(0,0,255,.75);
    }
    49% {
      text-shadow: 
        -0.05em -0.025em 0 rgba(255,0,0,.75),
        0.025em 0.025em 0 rgba(0,255,0,.75),
        -0.05em -0.05em 0 rgba(0,0,255,.75);
    }
    50% {
      text-shadow: 
        0.025em 0.05em 0 rgba(255,0,0,.75),
        0.05em 0 0 rgba(0,255,0,.75),
        0 -0.05em 0 rgba(0,0,255,.75);
    }
    99% {
      text-shadow: 
        0.025em 0.05em 0 rgba(255,0,0,.75),
        0.05em 0 0 rgba(0,255,0,.75),
        0 -0.05em 0 rgba(0,0,255,.75);
    }
    100% {
      text-shadow: 
        -0.025em 0 0 rgba(255,0,0,.75),
        -0.025em -0.025em 0 rgba(0,255,0,.75),
        -0.025em -0.05em 0 rgba(0,0,255,.75);
    }
  }

  .loading::after {
    content: '';
    animation: dots 2s steps(4, end) infinite;
  }

  @keyframes dots {
    0%, 20% { content: ''; }
    40% { content: '.'; }
    60% { content: '..'; }
    80% { content: '...'; }
  }
/*
for progress bar 
*/




#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#progress-bar {
    width: 0;
    height: 10px;
    background: linear-gradient(90deg, #ccff00, #39ff14, #7fff00);
    transition: width 0.1s ease-in-out;
}

#progress-text {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #ff006e;
}

#main-content {
    display: none;
    
}




/* end progress bar */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #1B1B1B;
    color: #eef8ce;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-image:
    url(/img/game.jpg),
    repeating-linear-gradient(
        to right, transparent 0 500px, #73814B33 500px 501px
    );
    background-attachment: fixed; 
    background-size: 100%;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 

}
*::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-fit {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 10em;
}
header {
    padding-block: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10px;
    backdrop-filter: blur(20px);
    z-index: 1000;
    background-color: #1B1B1B11;
    background-image: repeating-linear-gradient(
        to right, transparent 0 500px, #eee1 500px 501px
    );
}
header .content-fit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: unset!important;
    padding-block: unset!important;
}
header .content-fit nav ul{
    display: flex;
    gap: 2em;

}
#play {
    background: none; 
    border: none;    
    outline: none;   
    cursor: pointer; 
    color: inherit;  
    padding: 0;
}

#play:hover {
    
    color: gold; /* Optional hover effect */
}
.navlinks a{
    text-decoration: none;
    color: white;
    font-weight: 800;

}
#banner .title {
    color: #caff2a;
    font-size: 11em;
    font-family: "devil breeze";
    font-weight: bold;
    position: relative;
    text-align: center;
}
#banner .title::before {
    content: attr(data-before);
    position: absolute;
    top: 0.5em;
    inset: 0.66em 0 0 0;
    z-index: -1;
    color: #323f0f;
}
.section .decorate {
    position: absolute;
}
#intro .content-fit {
    display: flex;
    gap: 30%;
    justify-content: space-between;
    align-items: center;
}
.section .number {
    font-family: "devil breeze";
    font-size: 15em;
    font-weight: bold;
}
.section .content-fit .title {
    font-family: "devil breeze";
    font-size: 5em;
    font-weight: bold;
}
#description .content-fit {
    padding-right: 30%;
}
#description .number {
    font-size: 5em;
}
#description .title {
    font-size: 7em;
    font-weight: 500;
    color: white;

}
#contact .content-fit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#contact table {
    width: min(800px, 90vw);
    padding-top: 2em;
    font-size: 2em;
    margin: auto;
}
#contact table td {
    padding-block: 0.5em;
    border-bottom: 1px dashed #98b34e;
}
#contact table td:nth-child(1) {
    text-align: left;
    font-weight: 500;
}
#contact table td:nth-child(2) {
    text-align: right;
    font-weight: 200;
    color: white;

}
#contact .sign {
    font-family: 'Dancing Script', sans-serif;
    font-size: 10em;
}
#container3D {
    position: fixed;
    inset: 0;
    
    z-index: 100;
    pointer-events: none;
}
.admin {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #FFD700; /* Gold color */
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}
html {
    scroll-behavior: smooth;
}
.admin a {
    color: #b3ff00;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: inline-block;
    z-index: 1;
    
    text-shadow: 
        0 0 5px rgba(255, 215, 0, 0.7),   
        0 0 10px rgba(255, 215, 0, 0.7),  
        0 0 15px rgba(255, 215, 0, 0.7),  
        0 0 20px rgba(255, 215, 0, 0.7),  
        0 0 25px rgba(255, 215, 0, 0.7);  
}

.admin a:hover {
    color: #FFDF00; 
    text-shadow: 
        0 0 10px rgba(255, 215, 0, 1),   
        0 0 20px rgba(255, 215, 0, 1),   
        0 0 30px rgba(255, 215, 0, 1),   
        0 0 40px rgba(255, 215, 0, 1); 
      
    
}



@media screen and (max-width: 1023px){
    #banner .title {
        font-size: 5em;
    }
    #intro .content-fit {
        flex-direction: column;
    }
}
@media screen and (max-width: 767px){
    #banner .title {
        font-size: 3em;
    }
    
    #intro .content-fit {
        flex-direction: column;
    }
    .section .number {
        font-size: 5em;
    }
    .section .content-fit .title {
        font-size: 2em;
    }
    #description .content-fit {
        padding-right: 0;
    }
    #contact table {
        font-size: 1em;
    }
    #contact .sign {
        font-size: 3em;
    }
    #container3D {
        position: absolute;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 0.8em; 
    }
}
#contentlinks {
    
    max-width: fit-content;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

#contentlinks:hover {
    transform: scale(1.1);
    background: rgba(157, 32, 206, 0.2); 
    backdrop-filter: blur(15px); 
    color: white; 
}




@media screen and (max-width: 767px) {
    .logo {
        font-size: 0.8em; 
    }
    .navlinks a{
        font-size: 0.8em;

    }
}